# House Price Analysis

## Import Libraries

In [41]:
# Import necessary libraries
import pandas as pd
import numpy as np

## Load the Data

In [42]:
# Load the dataset (CSV file)
data = pd.read_csv('house_prices.csv')
data

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187526,187526,3 BHK Ready to Occupy Flat for sale in Bollywo...,This magnificent 3 BHK Flat is available for s...,63 Lac,3225.0,zirakpur,NaN,Ready to Move,2 out of 4,New Property,...,East,Garden/Park,Bollywood Esencia,3,3,1 Covered,Freehold,1953 sqft,NaN,NaN
187527,187527,3 BHK Ready to Occupy Flat for sale in Sushma ...,Have a look at this immaculate 3 BHK flat for ...,55 Lac,3274.0,zirakpur,NaN,Ready to Move,4 out of 6,Resale,...,North - East,"Garden/Park, Main Road",Sushma Urban Views,3,NaN,1 Covered,NaN,1680 sqft,NaN,NaN
187528,187528,3 BHK Ready to Occupy Flat for sale in Bollywo...,"Gazipur, Zirakpur has an appealing 3 BHK flat ...",76 Lac,4343.0,zirakpur,1250 sqft,Ready to Move,1 out of 3,Resale,...,East,"Garden/Park, Main Road",Bollywood Esencia,3,2,"1 Covered,",Freehold,NaN,NaN,NaN
187529,187529,2 BHK Ready to Occupy Flat for sale in Friends...,Up for immediate sale is a 2 BHK apartment in ...,30 Lac,4231.0,zirakpur,NaN,Ready to Move,2 out of 2,Resale,...,NaN,Main Road,Friends Enclave,2,NaN,NaN,NaN,709 sqft,NaN,NaN
187530,187530,3 BHK Ready to Occupy Flat for sale in Affinit...,This exquisite 3 BHK Flat is offered for sale ...,1.18 Cr,6162.0,zirakpur,NaN,Ready to Move,5 out of 13,Resale,...,North - East,"Garden/Park, Pool",Affinity Greens,4,4,1 Covered,Freehold,1915 sqft,NaN,NaN

## Explore the Data

In [43]:
# Show first 5 rows
data.head(5)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,...,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area,Dimensions,Plot Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.0,thane,500 sqft,Ready to Move,10 out of 11,Resale,...,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.0,thane,473 sqft,Ready to Move,3 out of 22,Resale,...,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN,NaN,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.0,thane,779 sqft,Ready to Move,10 out of 29,Resale,...,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN,NaN,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,NaN,thane,530 sqft,Ready to Move,1 out of 3,Resale,...,NaN,NaN,NaN,1,1,NaN,NaN,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.0,thane,635 sqft,Ready to Move,20 out of 42,Resale,...,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN,NaN,NaN

- **Task:** Observe the data structure and column types.
- **Reflection:** Write a short note about what each column represents and any observations.

In [44]:
# Number of rows and columns
data.shape

(187531, 21)

In [45]:
# Column names
data.columns

Index(['Index', 'Title', 'Description', 'Amount(in rupees)',
       'Price (in rupees)', 'location', 'Carpet Area', 'Status', 'Floor',
       'Transaction', 'Furnishing', 'facing', 'overlooking', 'Society',
       'Bathroom', 'Balcony', 'Car Parking', 'Ownership', 'Super Area',
       'Dimensions', 'Plot Area'],
      dtype='object')

In [46]:

# General info about all columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Index              187531 non-null  int64
 1   Title              187531 non-null  object
 2   Description        184508 non-null  object
 3   Amount(in rupees)  187531 non-null  object
 4   Price (in rupees)  169866 non-null  float64
 5   location           187531 non-null  object
 6   Carpet Area        106858 non-null  object
 7   Status             186916 non-null  object
 8   Floor              180454 non-null  object
 9   Transaction        187448 non-null  object
 10  Furnishing         184634 non-null  object
 11  facing             117298 non-null  object
 12  overlooking        106095 non-null  object
 13  Society            77853 non-null   object
 14  Bathroom           186703 non-null  object
 15  Balcony            138596 non-null  object
 16  Car Parking        84174 non-null   object
 17  Ownership          122014 non-null  object
 18  Super Area         79846 non-null   object
 19  Dimensions         0 non-null       float64
 20  Plot Area          0 non-null       float64
dtypes: float64(3), int64(1), object(17)
memory usage: 30.0+ MB

In [47]:
# Count of missing values in each column
data.isnull().sum()

Index                     0
Title                     0
Description            3023
Amount(in rupees)         0
Price (in rupees)     17665
location                  0
Carpet Area           80673
Status                  615
Floor                  7077
Transaction              83
Furnishing             2897
facing                70233
overlooking           81436
Society              109678
Bathroom                828
Balcony               48935
Car Parking          103357
Ownership             65517
Super Area           107685
Dimensions           187531
Plot Area            187531
dtype: int64

- **Task:** Review missing values.
- **Reflection:** Which columns have the most missing data? Which columns are mostly complete? How might missing data affect your analysis?

In [48]:
# Summary statistics for numerical columns
data.describe()

               Index  Price (in rupees)  Dimensions  Plot Area
count  187531.000000       1.698660e+05         0.0        0.0
mean    93765.000000       7.583772e+03         NaN        NaN
std     54135.681003       2.724171e+04         NaN        NaN
min         0.000000       0.000000e+00         NaN        NaN
25%     46882.500000       4.297000e+03         NaN        NaN
50%     93765.000000       6.034000e+03         NaN        NaN
75%    140647.500000       9.450000e+03         NaN        NaN
max    187530.000000       6.700000e+06         NaN        NaN

- **Task:** Review the summary statistics for numeric columns.
- **Reflection:** Write a note on unusual values (like 0 or extremely high numbers) and columns that may need cleaning.

In [49]:
# check for duplicate rows
data.duplicated().sum()

np.int64(0)

## Data Cleaning

In [50]:
# Fill missing 'Price (in rupees)' with the mean
data['Price (in rupees)'].fillna(data['Price (in rupees)'].mean(), inplace=True)

/var/folders/vl/w6spt_tj6lld61f444pjnf6w0000gn/T/ipykernel_33881/1292477124.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Price (in rupees)'].fillna(data['Price (in rupees)'].mean(), inplace=True)

In [51]:
# Fill missing 'Price (in rupees)' with the mean
data['Price (in rupees)'].fillna(data['Price (in rupees)'].mean(), inplace=True)

/var/folders/vl/w6spt_tj6lld61f444pjnf6w0000gn/T/ipykernel_33881/1866703136.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Price (in rupees)'].fillna(data['Price (in rupees)'].mean(), inplace=True)

In [52]:
# Fill missing 'Carpet Area' with median (safer than mean for skewed data)
data['Carpet Area'] = data['Carpet Area'].astype(str)
data['Carpet Area'] = data['Carpet Area'].str.extract('(\d+)')
data['Carpet Area'] = pd.to_numeric(data['Carpet Area'], errors='coerce')
data['Carpet Area'] = data['Carpet Area'].fillna(data['Carpet Area'].median())

In [53]:

# Fill missing 'Status' with 'Unknown'
data['Status'].fillna('Unknown', inplace=True)

/var/folders/vl/w6spt_tj6lld61f444pjnf6w0000gn/T/ipykernel_33881/3403379378.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Status'].fillna('Unknown', inplace=True)

In [54]:
# Drop columns with mostly missing values (>80%)
threshold = 0.8 * len(data)
cols_to_drop = [col for col in data.columns if data[col].isnull().sum() > threshold]
data.drop(columns=cols_to_drop, inplace=True)

In [55]:
# Show cleaned data
data.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
0,0,1 BHK Ready to Occupy Flat for sale in Srushti...,"Bhiwandi, Thane has an attractive 1 BHK Flat f...",42 Lac,6000.000000,thane,500.0,Ready to Move,10 out of 11,Resale,Unfurnished,NaN,NaN,Srushti Siddhi Mangal Murti Complex,1,2,NaN,NaN,NaN
1,1,2 BHK Ready to Occupy Flat for sale in Dosti V...,One can find this stunning 2 BHK flat for sale...,98 Lac,13799.000000,thane,473.0,Ready to Move,3 out of 22,Resale,Semi-Furnished,East,Garden/Park,Dosti Vihar,2,NaN,1 Open,Freehold,NaN
2,2,2 BHK Ready to Occupy Flat for sale in Sunrise...,Up for immediate sale is a 2 BHK apartment in ...,1.40 Cr,17500.000000,thane,779.0,Ready to Move,10 out of 29,Resale,Unfurnished,East,Garden/Park,Sunrise by Kalpataru,2,NaN,1 Covered,Freehold,NaN
3,3,1 BHK Ready to Occupy Flat for sale Kasheli,This beautiful 1 BHK Flat is available for sal...,25 Lac,7583.771885,thane,530.0,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,1,NaN,NaN,NaN
4,4,2 BHK Ready to Occupy Flat for sale in TenX Ha...,"This lovely 2 BHK Flat in Pokhran Road, Thane ...",1.60 Cr,18824.000000,thane,635.0,Ready to Move,20 out of 42,Resale,Unfurnished,West,"Garden/Park, Main Road",TenX Habitat Raymond Realty,2,NaN,1 Covered,Co-operative Society,NaN

**Task:** Perform basic data cleaning as shown above.

**Reflection** Questions (write your answers ):

- Which columns did you clean and why?

- Why did you fill Price (in rupees) with the mean instead of dropping rows?

- Why did you fill Carpet Area with the median?

- Why did you fill Status with 'Unknown'?

- Why did we drop columns with mostly missing values (>80%)?

- How do you think these cleaning steps will affect your analysis later?

## Filtering & Sorting Data

In [56]:
# Flats with Price less than 1 Cr
flats_under_1cr = data[data['Price (in rupees)'] < 1_00_00_000]

In [57]:
# Flats with Carpet Area greater than 600 sqft
flats_large_area = data[data['Carpet Area'] > 600]

In [58]:
# Sort by Price descending
data.sort_values(by='Price (in rupees)', ascending=False, inplace=True)

In [59]:
# show each data after sorting
data.head()

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
181234,181234,3 BHK Ready to Occupy Flat for sale in Nest Ha...,Have a look at this immaculate 3 BHK flat for ...,1400.30 Cr,6700000.0,vadodara,1252.0,Ready to Move,5 out of 9,New Property,Unfurnished,NaN,NaN,Nest Harmony,3,5,1 Covered,NaN,NaN
180679,180679,2 BHK Ready to Occupy Flat for sale Fatehpura,This attractive 2 BHK apartment can be found f...,45 Lac,4500000.0,udaipur,1000.0,Ready to Move,4 out of 4,Resale,Semi-Furnished,NaN,NaN,NaN,2,NaN,NaN,NaN,1 sqft
147912,147912,5 BHK Ready to Occupy Flat for sale Dayal Bagh,Discover this immaculate 5 BHK flat for sale a...,1.35 Cr,4500000.0,agra,3.0,Ready to Move,1 out of 2,Resale,Furnished,NaN,Main Road,NaN,5,1,NaN,NaN,NaN
176536,176536,3 BHK Ready to Occupy Flat for sale Hill Cart ...,This ready to move-in 3 BHK flat is available ...,510.04 Cr,4041600.0,siliguri,970.0,Ready to Move,1 out of 4,New Property,Unfurnished,North,Main Road,NaN,2,1,1 Covered,Freehold,NaN
174894,174894,2 BHK Ready to Occupy Flat for sale Kachna Road,"Kachna Road, Raipur has an attractive 2 BHK Fl...",396.75 Cr,3450000.0,raipur,920.0,Ready to Move,2 out of 2,New Property,Unfurnished,East,"Garden/Park, Pool, Main Road",NaN,2,2,"1 Covered,",Freehold,NaN

**Task:** Apply filtering and sorting.

**Reflection** Questions:

- Which filters did you apply?

- What did you learn from the sorted data?

- Are there any patterns or outliers?

## Selecting Key Columns

In [60]:
# select the following columns from the cleaned dataset  Title , Price (in rupees), Carpet Area, Status, Floor, location
selected_data = data[['Title', 'Price (in rupees)', 'Carpet Area', 'Status', 'Floor', 'location']]
selected_data.head()

,Title,Price (in rupees),Carpet Area,Status,Floor,location
181234,3 BHK Ready to Occupy Flat for sale in Nest Ha...,6700000.0,1252.0,Ready to Move,5 out of 9,vadodara
180679,2 BHK Ready to Occupy Flat for sale Fatehpura,4500000.0,1000.0,Ready to Move,4 out of 4,udaipur
147912,5 BHK Ready to Occupy Flat for sale Dayal Bagh,4500000.0,3.0,Ready to Move,1 out of 2,agra
176536,3 BHK Ready to Occupy Flat for sale Hill Cart ...,4041600.0,970.0,Ready to Move,1 out of 4,siliguri
174894,2 BHK Ready to Occupy Flat for sale Kachna Road,3450000.0,920.0,Ready to Move,2 out of 2,raipur

**Task:** Focus on key columns.

**Reflection** Questions:

- Why did you select these columns?

- How might they relate to each other in analysis?

## Aggregations & Relationships

In [61]:
# Average price
average_price = data['Price (in rupees)'].mean()
print(f"Average Price: {average_price:.2f} rupees")

Average Price: 7583.77 rupees

In [62]:
# Average price by Location
average_price_by_location = data.groupby('location')['Price (in rupees)'].mean().sort_values(ascending=False)
print("Average Price by Location:" , average_price_by_location)

Average Price by Location: location
udaipur     41283.110964
mumbai      22131.193375
raipur      16058.305742
agra        14353.396799
siliguri    14271.348806
                ...
bhopal       3435.806870
durgapur     3319.449355
vapi         3057.820230
navsari      2902.669585
bhiwadi      2681.524777
Name: Price (in rupees), Length: 81, dtype: float64

In [63]:
# Min and Max carpet area
min_area = data['Carpet Area'].min()
max_area = data['Carpet Area'].max()
print(f"Minimum Carpet Area: {min_area} sqft")
print(f"Maximum Carpet Area: {max_area} sqft")

Minimum Carpet Area: 1.0 sqft
Maximum Carpet Area: 709222.0 sqft

In [64]:

# Average Price by Status
average_price_by_status = data.groupby('Status')['Price (in rupees)'].mean().sort_values(ascending=False)
print("Average Price by Status:" , average_price_by_status)

Average Price by Status: Status
Ready to Move    7589.451646
Unknown          5857.530793
Name: Price (in rupees), dtype: float64

In [65]:
# Average Carpet Area by Location
average_area_by_location = data.groupby('location')['Carpet Area'].mean().sort_values(ascending=False)
print("Average Carpet Area by Location:" , average_area_by_location)

Average Carpet Area by Location: location
siliguri     2490.046154
guwahati     1998.622667
agra         1972.780000
thrissur     1534.561905
panchkula    1532.947222
                ...
vrindavan     789.166667
palghar       776.725490
bhiwandi      730.855556
goa           727.813333
kalyan        708.793333
Name: Carpet Area, Length: 81, dtype: float64

**Task:** Calculate aggregations and explore relationships.

**Reflection** Questions:

- What patterns do you see between Price, Carpet Area, Status, and Location?

- Any surprising insights?

## General Questions on Data

In [66]:
# Display the first 10 rows of the cleaned dataset.
data.head(10)

,Index,Title,Description,Amount(in rupees),Price (in rupees),location,Carpet Area,Status,Floor,Transaction,Furnishing,facing,overlooking,Society,Bathroom,Balcony,Car Parking,Ownership,Super Area
181234,181234,3 BHK Ready to Occupy Flat for sale in Nest Ha...,Have a look at this immaculate 3 BHK flat for ...,1400.30 Cr,6700000.0,vadodara,1252.0,Ready to Move,5 out of 9,New Property,Unfurnished,NaN,NaN,Nest Harmony,3,5,1 Covered,NaN,NaN
180679,180679,2 BHK Ready to Occupy Flat for sale Fatehpura,This attractive 2 BHK apartment can be found f...,45 Lac,4500000.0,udaipur,1000.0,Ready to Move,4 out of 4,Resale,Semi-Furnished,NaN,NaN,NaN,2,NaN,NaN,NaN,1 sqft
147912,147912,5 BHK Ready to Occupy Flat for sale Dayal Bagh,Discover this immaculate 5 BHK flat for sale a...,1.35 Cr,4500000.0,agra,3.0,Ready to Move,1 out of 2,Resale,Furnished,NaN,Main Road,NaN,5,1,NaN,NaN,NaN
176536,176536,3 BHK Ready to Occupy Flat for sale Hill Cart ...,This ready to move-in 3 BHK flat is available ...,510.04 Cr,4041600.0,siliguri,970.0,Ready to Move,1 out of 4,New Property,Unfurnished,North,Main Road,NaN,2,1,1 Covered,Freehold,NaN
174894,174894,2 BHK Ready to Occupy Flat for sale Kachna Road,"Kachna Road, Raipur has an attractive 2 BHK Fl...",396.75 Cr,3450000.0,raipur,920.0,Ready to Move,2 out of 2,New Property,Unfurnished,East,"Garden/Park, Pool, Main Road",NaN,2,2,"1 Covered,",Freehold,NaN
175013,175013,2 BHK Ready to Occupy Flat for sale in Chaitan...,"This lovely 2 BHK Flat in Saddu, Raipur is up ...",229.80 Cr,2669100.0,raipur,750.0,Ready to Move,2 out of 9,New Property,Unfurnished,East,"Garden/Park, Main Road",Chaitanya Greens,2,1,"1 Covered,",Freehold,NaN
180481,180481,3 BHK Ready to Occupy Flat for sale Sreekaryam,This attractive 3 BHK apartment can be found f...,1.44 Cr,1200000.0,trivandrum,1000.0,Ready to Move,Ground out of 1,Resale,Semi-Furnished,East,Main Road,NaN,3,3,NaN,Power Of Attorney,12 sqft
174925,174925,2 BHK Ready to Occupy Flat for sale Arya polis...,This gorgeous 2 BHK Flat is available for sale...,35.5 Lac,322727.0,raipur,1105.0,Ready to Move,4 out of 4,Resale,Unfurnished,North,Main Road,NaN,2,3,NaN,Freehold,NaN
183490,183490,2 BHK Ready to Occupy Flat for sale orderly ba...,This ready to move-in 2 BHK flat is available ...,35 Lac,291667.0,varanasi,12.0,Ready to Move,3 out of 4,Resale,Furnished,East,Main Road,NaN,2,1,NaN,Freehold,NaN
172107,172107,2 BHK Ready to Occupy Flat for sale Chamaraja ...,This attractive 2 BHK apartment can be found f...,1.30 Cr,282609.0,mysore,1000.0,Ready to Move,1 out of 3,Resale,Unfurnished,NaN,NaN,NaN,1,NaN,NaN,NaN,46 sqft

In [67]:

# Count the number of flats per Location.
flats_per_location = data['location'].value_counts()
print("Number of Flats per Location:\n", flats_per_location)

Number of Flats per Location:
 location
new-delhi      27599
bangalore      24030
kolkata        22380
gurgaon        20070
ahmedabad      12750
               ...
ahmadnagar        30
pondicherry       30
madurai           30
palakkad          30
navsari           30
Name: count, Length: 81, dtype: int64

In [68]:
# Find the top 5 most expensive flats
top_5_expensive_flats = data.nlargest(5, 'Price (in rupees)')
print("Top 5 Most Expensive Flats:\n", top_5_expensive_flats[['Title', 'Price (in rupees)', 'location']])

Top 5 Most Expensive Flats:
                                                     Title  Price (in rupees)  \
181234  3 BHK Ready to Occupy Flat for sale in Nest Ha...          6700000.0
180679      2 BHK Ready to Occupy Flat for sale Fatehpura          4500000.0
147912     5 BHK Ready to Occupy Flat for sale Dayal Bagh          4500000.0
176536  3 BHK Ready to Occupy Flat for sale Hill Cart ...          4041600.0
174894    2 BHK Ready to Occupy Flat for sale Kachna Road          3450000.0

        location
181234  vadodara
180679   udaipur
147912      agra
176536  siliguri
174894    raipur

In [69]:
# Filter all flats where Status = Ready to Move
ready_to_move_flats = data[data['Status'] == 'Ready to Move']
print("Flats with Status 'Ready to Move':\n", ready_to_move_flats[['Title', 'Price (in rupees)', 'Carpet Area', 'location']])

Flats with Status 'Ready to Move':
                                                     Title  Price (in rupees)  \
181234  3 BHK Ready to Occupy Flat for sale in Nest Ha...          6700000.0
180679      2 BHK Ready to Occupy Flat for sale Fatehpura          4500000.0
147912     5 BHK Ready to Occupy Flat for sale Dayal Bagh          4500000.0
176536  3 BHK Ready to Occupy Flat for sale Hill Cart ...          4041600.0
174894    2 BHK Ready to Occupy Flat for sale Kachna Road          3450000.0
...                                                   ...                ...
167515  1 BHK Ready to Occupy Flat for sale Ram Reaide...                0.0
165311     2 BHK Ready to Occupy Flat for sale Dhirenpara                0.0
183352  3 BHK Ready to Occupy Flat for sale surya apar...                0.0
185086  3 BHK Ready to Occupy Flat for sale Indhiranag...                0.0
176399    3 BHK Ready to Occupy Flat for sale Panthaghati                0.0

        Carpet Area       location
181234       1252.0       vadodara
180679       1000.0        udaipur
147912          3.0           agra
176536        970.0       siliguri
174894        920.0         raipur
...             ...            ...
167515        525.0         kalyan
165311       1100.0       guwahati
183352       1160.0       varanasi
185086       1000.0  visakhapatnam
176399       1480.0         shimla

[186916 rows x 4 columns]

In [70]:
# Calculate median Price and compare with mean Price
median_price = data['Price (in rupees)'].median()
mean_price = data['Price (in rupees)'].mean()
print(f"Median Price: {median_price:.2f} rupees")
print(f"Mean Price: {mean_price:.2f} rupees")

Median Price: 6499.00 rupees
Mean Price: 7583.77 rupees

In [71]:
# Explore relationship between Floor and Price
floor_price_relationship = data.groupby('Floor')['Price (in rupees)'].mean().sort_values(ascending=False)
print("Average Price by Floor:\n", floor_price_relationship)

Average Price by Floor:
 Floor
28 out of 56      67200.0
44 out of 91      61395.0
23 out of 68      55952.0
45 out of 76      55000.0
10 out of 39      54737.0
                   ...
5 out of 50        3350.0
38 out of 38       3273.0
4 out of 3         3061.0
7 out of 50        3017.0
Lower Basement     2000.0
Name: Price (in rupees), Length: 947, dtype: float64

In [73]:
# Create a cleaned dataset CSV file for future use
data.to_csv('cleaned_house_price_data.csv', index=False)

## Now Write a Short Summery of your findings about house price Data

### **Note**
We will continue working with this dataset step by step. All the tasks you have done so far are preparing you for a Mini Data Analysis Project.

In the next Tasks, we will:

- Apply more advanced visualizations.

- Explore relationships between columns more deeply.

- Answer questions and draw insights from the data.

Keep practicing with this cleaned dataset because it will be the base for all your upcoming exercises.🥰